html {
  scroll-behavior: smooth;
}

.MuiAppBar-root {
  backdrop-filter: blur(8px);
}

.MuiButton-root {
  text-transform: uppercase;
}

.MuiButton-root:hover {
  opacity: 0.9;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
